body {
    background-color: rgb(194, 66, 66);
    color: navajowhite;
    text-align: center;
    font-size: 40px;
}

label {
    color: tomato;
    font-size: 20px;
}

fieldset {
    border-color: red;
    border-width: 5px;
}
.NAME_OF_OBJECTS {
    color: royalblue;
    font-weight: bolder;
}

#camera {
    height: 400px;
    width: 400px;
    border-color: rgb(63, 42, 42);
    border-width: 5px;
}

#result_obj {
    color: black;
    font-weight: bolder;
}

#accuracy_obj {
    color: black;
    font-weight: bolder;
}
